<ion-content [fullscreen]="true">

  <div class="pagina-materia">

    <!-- CABEÇALHO DA MATÉRIA -->
    <div class="cabecalho-materia">

      <div class="informacoes-materia">

        <h1>Matemática</h1>

        <p>Nível intermediário</p>

        <span>XP da matéria: 1.250</span>

      </div>


      <!-- PROGRESSO -->
      <div class="progresso-circular">

        <div class="circulo">
          <strong>46%</strong>
        </div>

      </div>

    </div>


    <!-- BUSCA -->
    <div class="barra-busca">

      <ion-icon name="menu-outline"></ion-icon>

      <input
        type="text"
        placeholder="Buscar conteúdo">

      <ion-icon name="search-outline"></ion-icon>

    </div>


    <!-- CONTEÚDOS -->
    <section class="conteudos">

      <h2>Conteúdos disponíveis</h2>


      <!-- ÁLGEBRA -->
      <div class="categoria">

        <h3>
          🧮 Álgebra
        </h3>


        <div class="lista-conteudos">

          <button class="conteudo">

            <span>
              <ion-icon name="add-circle-outline"></ion-icon>
              Equação do 1º grau
            </span>

            <ion-icon
              class="seta"
              name="chevron-forward-outline">
            </ion-icon>

          </button>


          <button class="conteudo">

            <span>
              <ion-icon name="add-circle-outline"></ion-icon>
              Equação do 2º grau
            </span>

            <ion-icon
              class="seta"
              name="chevron-forward-outline">
            </ion-icon>

          </button>


          <button class="conteudo">

            <span>
              <ion-icon name="add-circle-outline"></ion-icon>
              Razão e proporção
            </span>

            <ion-icon
              class="seta"
              name="chevron-forward-outline">
            </ion-icon>

          </button>


          <button class="conteudo">

            <span>
              <ion-icon name="add-circle-outline"></ion-icon>
              Fatoração
            </span>

            <ion-icon
              class="seta"
              name="chevron-forward-outline">
            </ion-icon>

          </button>

        </div>

      </div>


      <!-- GEOMETRIA -->
      <div class="categoria geometria">

        <h3>
          📐 Geometria
        </h3>


        <div class="lista-conteudos">

          <button class="conteudo">

            <span>
              <ion-icon name="add-circle-outline"></ion-icon>
              Geometria Analítica
            </span>

            <ion-icon
              class="seta"
              name="chevron-forward-outline">
            </ion-icon>

          </button>

        </div>

      </div>

    </section>

  </div>

</ion-content>