<ion-content>

  <div class="pagina">

    <!-- CABEÇALHO -->
    <div class="cabecalho">

      <div class="titulo-materia">
        <h1>Matemática</h1>
        <p>Nível Intermediário</p>
        <span>XP da matéria: 1.250</span>
      </div>

      <!-- PROGRESSO -->
      <div class="progresso-materia">
        <div class="circulo-progresso">
          <strong>46%</strong>
        </div>
      </div>

    </div>


    <!-- PESQUISA -->
    <div class="barra-pesquisa">

      <ion-icon name="search-outline"></ion-icon>

      <ion-input
        type="text"
        placeholder="Buscar assunto">
      </ion-input>

    </div>


    <!-- TÍTULO -->
    <h2 class="titulo-conteudos">
      Conteúdos disponíveis
    </h2>


    <!-- CARDS -->
    <div class="cards-assuntos">


      <!-- ÁLGEBRA -->
      <ion-card
        class="card-assunto"
        routerLink="/exercicios-algebra">

        <div class="imagem-card algebra">
          <ion-icon name="calculator-outline"></ion-icon>
        </div>

        <ion-card-header>

          <ion-card-title>
            Álgebra
          </ion-card-title>

        </ion-card-header>

        <ion-card-content>
          Equações, expressões e operações algébricas.
        </ion-card-content>

        <div class="card-rodape">
          <span>5 questões</span>

          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-card>


      <!-- GEOMETRIA -->
      <ion-card
        class="card-assunto"
        routerLink="/exercicios-geometria">

        <div class="imagem-card geometria">
          <ion-icon name="triangle-outline"></ion-icon>
        </div>

        <ion-card-header>

          <ion-card-title>
            Geometria
          </ion-card-title>

        </ion-card-header>

        <ion-card-content>
          Figuras, áreas, perímetros e propriedades geométricas.
        </ion-card-content>

        <div class="card-rodape">
          <span>5 questões</span>

          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-card>


      <!-- FUNÇÕES -->
      <ion-card
        class="card-assunto"
        routerLink="/exercicios-funcoes">

        <div class="imagem-card funcoes">
          <ion-icon name="analytics-outline"></ion-icon>
        </div>

        <ion-card-header>

          <ion-card-title>
            Funções
          </ion-card-title>

        </ion-card-header>

        <ion-card-content>
          Funções de 1º e 2º grau, gráficos e relações.
        </ion-card-content>

        <div class="card-rodape">
          <span>5 questões</span>

          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-card>


    </div>

  </div>

</ion-content>