<ion-content>

  <div class="pagina">

    <h1>Matérias</h1>

    <p class="subtitulo">
      Escolha uma matéria para começar seus estudos
    </p>

    <div class="materias">

      <a class="materia" routerLink="/matematica">
        <div class="icone">📐</div>
        <span>Matemática</span>
      </a>

      <a class="materia" routerLink="/portugues">
        <div class="icone">📚</div>
        <span>Língua Portuguesa</span>
      </a>

      <a class="materia" routerLink="/biologia">
        <div class="icone">🧬</div>
        <span>Biologia</span>
      </a>

      <a class="materia" routerLink="/geografia">
        <div class="icone">🌎</div>
        <span>Geografia</span>
      </a>

      <a class="materia" routerLink="/fisica">
        <div class="icone">⚡</div>
        <span>Física</span>
      </a>

      <a class="materia" routerLink="/quimica">
        <div class="icone">🧪</div>
        <span>Química</span>
      </a>

      <a class="materia" routerLink="/ingles">
        <div class="icone">🔤</div>
        <span>Inglês</span>
      </a>

      <a class="materia" routerLink="/filosofia">
        <div class="icone">💭</div>
        <span>Filosofia</span>
      </a>

      <a class="materia" routerLink="/historia">
        <div class="icone">🏛️</div>
        <span>História</span>
      </a>

      <a class="materia" routerLink="/artes">
        <div class="icone">🎨</div>
        <span>Artes</span>
      </a>

    </div>

  </div>

</ion-content>