<ion-header>
  <ion-toolbar>

    <ion-title>BRIO</ion-title>

    <!-- Configurações e Ajuda -->
    <ion-buttons slot="end">

      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="inicio-container">

    <!-- Cartão: Progresso -->
    <ion-card
      class="card-menu"
      routerLink="/progresso">

      <div class="imagem-card">
        <img
          src="assets/progresso.png"
          alt="Progresso">

        <div class="seta-card">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>

      <ion-card-header>
        <ion-card-title>Progresso</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Acompanhe sua evolução e seus resultados.
      </ion-card-content>

    </ion-card>


    <!-- Cartão: Play -->
    <ion-card
      class="card-menu"
      routerLink="/jogar">

      <div class="imagem-card">
        <img
          src="assets/play.png"
          alt="Play">

        <div class="seta-card">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>

      <ion-card-header>
        <ion-card-title>Play</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Estude através de exercícios e atividades.
      </ion-card-content>

    </ion-card>


    <!-- Cartão: Loja BRIO -->
    <ion-card
      class="card-menu"
      routerLink="/lojabrio">

      <div class="imagem-card">
        <img
          src="assets/loja.png"
          alt="Loja BRIO">

        <div class="seta-card">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>

      <ion-card-header>
        <ion-card-title>Loja BRIO</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Use suas recompensas para desbloquear itens.
      </ion-card-content>

    </ion-card>


    <!-- Cartão: Desafios -->
    <ion-card
      class="card-menu"
      routerLink="/desafios">

      <div class="imagem-card">
        <img
          src="assets/desafios.png"
          alt="Desafios">

        <div class="seta-card">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>

      <ion-card-header>
        <ion-card-title>Desafios</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Complete desafios e conquiste XP.
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>